body{
    display:flex;
    height: 100vh;
    background: #084911; /* fallback color if gradients are not supported*/ 
    background: -webkit-linear-gradient(118deg,#084911, #385F1E, #5F8D1D, #87BD1D);
    background: -moz-linear-gradient(118deg,#084911, #385F1E, #5F8D1D, #87BD1D);
    background: -o-linear-gradient(118deg,#084911, #385F1E, #5F8D1D, #87BD1D);
    background: linear-gradient(118deg,#084911, #385F1E, #5F8D1D, #87BD1D);
    justify-content: center;
    align-items: center;
    width: screen;
    margin: -8px;
}

form{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}
.person-svg{
    background-color: rgb(231, 227, 227);
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: transparent;
}
svg{
    align-self: center;
}
input{
    background: transparent;
    color: white;
    border-radius: 20px;
    border:2px solid white;
    height: 30px;
    width: 400px;
    margin-top: 20px;
}
input::placeholder{
    color: white;
    font-size: 13px;
}
input:focus{
    box-shadow: none !important;
    outline: none;
}
.btn{
    width: fit-content;
    height: fit-content;
    margin-top: 40PX;
    background-color: transparent;
    border: none;
    align-self: center;
}
.login-svg{
    background-color: rgb(146, 142, 142);
    height: 30px;
    width: 30px;
    border-radius: 50px;
border: none;
fill: white;
}